/Varsity Lectures/Week 6/JavaApplication2/nbproject/private/
/Varsity Lectures/Week 6/JavaApplication2/build/
/Varsity Lectures/Week 6/JavaApplication3/nbproject/private/
/Varsity Lectures/Week 6/JavaApplication3/build/