/Varsity Lectures/Week 6/JavaApplication2/nbproject/private/
/Varsity Lectures/Week 6/JavaApplication2/build/
/Varsity Lectures/Week 6/JavaApplication3/nbproject/private/
/Varsity Lectures/Week 6/JavaApplication3/build/
/Varsity Lectures/Week 7/JavaApplication4/nbproject/private/
/Varsity Lectures/Week 7/JavaApplication4/build/
/Varsity Lectures/Week 7/veh/nbproject/private/
/Varsity Lectures/Week 7/veh/build/
/Varsity Lectures/Week 7/Composition/nbproject/private/
/Varsity Lectures/Week 7/Week7trial/nbproject/private/
/Varsity Lectures/Week 7/Week7trial/build/
/Varsity Lectures/Week 7/Week7trial2/nbproject/private/
/Varsity Lectures/Week 7/Week7trial2/build/
/Varsity Lectures/Week 8/Week8Trial/nbproject/private/
/Varsity Lectures/Week 8/Week8Trial/build/
/Varsity Lectures/Week 8/JavaApplication11/nbproject/private/
/Varsity Lectures/Week 8/JavaFXApplication1/nbproject/private/
/Varsity Lectures/Week 8/Week8Trial2/nbproject/private/
/Varsity Lectures/Week 8/JavaFXApplication2/nbproject/private/
/Varsity Lectures/Week 8/JavaFXApplication2/build/
/Varsity Lectures/Week 8/JavaFXApplication2/dist/
/Varsity Lectures/Week 8/Triangleandfactorial/nbproject/private/
/Varsity Lectures/Week 8/Triangleandfactorial/build/
/Varsity Lectures/Practice Problems 2/JavaApplication16/nbproject/private/
/Varsity Lectures/Practice Problems 2/Test_Q1/nbproject/private/
/Varsity Lectures/Practice Problems 2/Test_Q1/build/
/Varsity Lectures/Practice Problems 2/Test_Q2/nbproject/private/
/Varsity Lectures/Practice Problems 2/Test_Q2/build/
/Varsity Lectures/Practice Problems 2/Test_Q3/nbproject/private/
/Varsity Lectures/Practice Problems 2/Test_Q3/build/
/Varsity Lectures/Practice Problems 2/Test_Q6/nbproject/private/
/Varsity Lectures/Practice Problems 2/testapp/nbproject/private/
/Varsity Lectures/Practice Problems 2/testapp/build/
/Varsity Lectures/Exams/Mid_Term_Spring/Mid_term_P1/nbproject/private/
/Varsity Lectures/Exams/Mid_Term_Spring/Mid_term_P1/build/
/Varsity Lectures/Exams/Mid_Term_Spring/testClass/nbproject/private/
/Varsity Lectures/Exams/Mid_Term_Spring/testClass/build/